<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>connection</title>
</head>
<style>
body {
	text-align: center;
	font-family: Arial;
}	
</style>
<body>
	<h1>Connection<h1>
	<form action="{{ url_login('connection') }}" method="POST">
		<input type="text" name="nom" id="nom" placeholder="pseudo" required><br/>
		<input type="password" name="motdepasse" id="motdepasse" placeholder="mot de passse" required><br/>
		<input type="submit" name="submit" value="connection" />
 	</form>
 	<p> {{ msg }} </p>
</body>
</html>